# üßë‚Äçüíª NumPy Complete Guided Project
**Instructor / Student Colab Notebook** ‚Äì covers *all* key concepts from `Numpy‚Äë1` to `Numpy‚Äë5`.

*Generated: 08¬†Aug¬†2025*


**Table of Contents**

1. [Setup](#setup)  
2. [Array Creation & Dtypes](#creation)  
3. [Array Attributes & Inspection](#attributes)  
4. [Indexing, Slicing, Fancy Indexing](#indexing)  
5. [Reshaping, Transpose & Copies vs‚ÄØViews](#reshape)  
6. [Joining, Splitting, Set & Sorting Ops](#join)  
7. [Arithmetic Ops, Universal Functions](#arithmetic)  
8. [Broadcasting (Rules¬†+ Examples)](#broadcast)  
9. [Statistics & Aggregations](#stats)  
10. [Random Numbers & Reproducibility](#random)  
11. [Structured¬†/ Recarrays](#structured)  
12. [Linear Algebra Essentials](#linalg)  
13. [File¬†I/O (`npy`, `npz`, `txt`)](#io)  
14. [Datetime64 & Timedelta64](#datetime)  
15. [Masked Arrays & NaNs](#mask)  
16. [Mini‚ÄëProject¬†‚Äî Fitness Data Analysis](#project)  
17. [Conclusion & Next Steps](#conclusion)

## <a name='setup'></a>1Ô∏è‚É£ Setup

In [2]:
import numpy as np, math, os, pathlib, types, textwrap, random
print('NumPy version:', np.__version__)

NumPy version: 2.0.2

## <a name='creation'></a>2Ô∏è‚É£ Array Creation & Dtypes

Key functions: `np.array`, `np.arange`, `np.linspace`, `zeros`, `ones`, `full`, `eye`, `identity`, `diag`, `empty`

In [3]:
# EXAMPLE
arr1 = np.array([1, 2, 3], dtype=np.int32)
arr2 = np.linspace(0, 1, 6)
arr3 = np.full((2,3), 7.5)
print(arr1, arr2, arr3, sep="\n")
print("dtypes:", arr1.dtype, arr2.dtype)

[1 2 3]
[0.  0.2 0.4 0.6 0.8 1. ]
[[7.5 7.5 7.5]
 [7.5 7.5 7.5]]
dtypes: int32 float64

In [20]:
# üñäÔ∏è¬†TODO: create a 10√ó10 chessboard pattern using zeros & ones
a1=np.ones((10,10),dtype=np.int32)
a1[::2,0::2]=0
a1[1::2,1::2]=0
print(a1)

[[0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]]

## <a name='attributes'></a>3Ô∏è‚É£ Array Attributes & Inspection

`shape`, `ndim`, `size`, `dtype`, `itemsize`, `nbytes`

In [17]:
M = np.arange(12).reshape(3,4)
print('shape', M.shape, 'ndim', M.ndim, 'size', M.size, 'itemsize', M.itemsize, 'total bytes', M.nbytes)

shape (3, 4) ndim 2 size 12 itemsize 8 total bytes 96

In [22]:
# üñäÔ∏è TODO: check memory footprint of a 1000√ó1000 float64 array
M = np.arange(1000000).reshape(1000,1000)
print('shape', M.shape, 'ndim', M.ndim, 'size', M.size, 'itemsize', M.itemsize, 'total bytes', M.nbytes)

shape (1000, 1000) ndim 2 size 1000000 itemsize 8 total bytes 8000000

## <a name='indexing'></a>4Ô∏è‚É£ Indexing, Slicing & Fancy Indexing

In [21]:
a = np.arange(1,26).reshape(5,5)
print(a[:, 0])     # first column
print(a[::2, ::2]) # every 2nd row/col
mask = (a % 3 == 0)
print('multiples of 3:', a[mask])

[ 1  6 11 16 21]
[[ 1  3  5]
 [11 13 15]
 [21 23 25]]
multiples of 3: [ 3  6  9 12 15 18 21 24]

In [32]:
# üñäÔ∏è TODO: use fancy indexing to swap first and last rows of `a`
a=np.arange(1,26).reshape(5,5)
a[[0,4]]=a[[4,0]]
print(a)

[[ 1  2  3  4  5]
 [16 17 18 19 20]]
[[21 22 23 24 25]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [ 1  2  3  4  5]]

## <a name='reshape'></a>5Ô∏è‚É£ Reshaping, Transpose & Copies vs‚ÄØViews

In [33]:
b = np.arange(8)
B = b.reshape(2,4)
B[0,0] = 99
print('b is modified:', b)
C = b.reshape(2,4).copy()
C[0,0] = -1
print('b unchanged with copy:', b)

b is modified: [99  1  2  3  4  5  6  7]
b unchanged with copy: [99  1  2  3  4  5  6  7]

In [47]:
# üñäÔ∏è TODO: Flatten a 3‚ÄëD array into 1‚ÄëD using both `ravel` and `flatten`; observe copy vs view.
b=np.arange(24).reshape(2,3,4)
print(b.ravel())
print(b.flatten())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

## <a name='join'></a>6Ô∏è‚É£ Joining, Splitting, Set & Sorting Ops

In [ ]:
x = np.array([1,3,5]); y = np.array([2,4,6])
xy = np.concatenate([x,y])
print('union', np.union1d(x,y))
print('intersect', np.intersect1d(xy,[1,2,10]))
print('sorted descending', np.sort(xy)[::-1])

In [42]:
# üñäÔ∏è TODO: split `xy` back into two equal halves using `np.array_split`
x=np.array([1,3,5,2,4,6])
print(np.array_split(x,2))

[array([1, 3, 5]), array([2, 4, 6])]

## <a name='arithmetic'></a>7Ô∏è‚É£ Arithmetic Ops & Universal Functions

In [43]:
v = np.arange(5)
print('exp', np.exp(v))
print('sin', np.sin(v))
print('vectorised addition', v + 10)

exp [ 1.          2.71828183  7.3890561  20.08553692 54.59815003]
sin [ 0.          0.84147098  0.90929743  0.14112001 -0.7568025 ]
vectorised addition [10 11 12 13 14]

In [46]:
# üñäÔ∏è TODO: given degrees [0,30,45,60,90], compute radians and sin values.
v=np.array([0,30,45,60,90])
print(np.sin(v))

[ 0.         -0.98803162  0.85090352 -0.30481062  0.89399666]

## <a name='broadcast'></a>8Ô∏è‚É£ Broadcasting Rules

Rules: compare dimensions from right ‚Üí left; stretch size 1 dims; mismatch error.

In [ ]:
row = np.arange(5)
col = np.arange(3).reshape(3,1)
matrix = row + col  # broadcast to 3√ó5
print(matrix)

In [ ]:
# üñäÔ∏è TODO: use broadcasting to create a 10√ó10 multiplication table.
a=np.arange(1,11)
b=np.arange(1,11).reshape(10,1)
print(a*b)

## <a name='stats'></a>9Ô∏è‚É£ Statistics & Aggregations

In [ ]:
data = np.random.default_rng(0).integers(1, 100, size=(5,4))
print('data\n', data)
print('row sums', data.sum(axis=1))
print('col means', data.mean(axis=0))

In [ ]:
# üñäÔ∏è TODO: compute `np.percentile` (25th, 50th, 75th) of flattened `data`.
a=np.percentile(data,25)
b=np.percentile(data,50)
c=np.percentile(data,75)
print(a,b,c)

## <a name='random'></a>üîü Random Numbers & Reproducibility

In [ ]:
rng = np.random.default_rng(42)
rand_floats = rng.random(5)
rand_ints = rng.integers(low=10, high=50, size=5)
print(rand_floats, rand_ints)
rng2 = np.random.default_rng(42)
assert np.allclose(rand_floats, rng2.random(5))

In [ ]:
# üñäÔ∏è TODO: simulate rolling a fair six‚Äësided die 100 times; estimate proportion of 6s.
a=np.random.default_rng(42).integers(1,7,size=100)
print(np.count_nonzero(a==6)/100)

## <a name='structured'></a>1Ô∏è‚É£1Ô∏è‚É£ Structured / Record Arrays

In [ ]:
people = np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])
print(people['name'], people['age'].mean())

In [66]:
# üñäÔ∏è TODO: add a new field 'height' to the structured array using `np.lib.recfunctions.append_fields` (hint: pip install?).
a=np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])

## <a name='linalg'></a>1Ô∏è‚É£2Ô∏è‚É£ Linear Algebra Essentials

In [ ]:
A = np.random.random((3,3))
b = np.random.random(3)
x = np.linalg.solve(A, b)
print('A¬∑x ‚âà b?', np.allclose(A.dot(x), b))

In [65]:
# üñäÔ∏è TODO: compute eigenvalues of `A` using `np.linalg.eig`.
a=np.random.random((3,3))
print(np.linalg.eig(a))

EigResult(eigenvalues=array([ 1.53780157, -0.32216775, -0.55249817]), eigenvectors=array([[-0.47069545, -0.60707724,  0.0707326 ],
       [-0.55323183,  0.78484461, -0.77160626],
       [-0.68729931, -0.12440322,  0.63215559]]))

## <a name='io'></a>1Ô∏è‚É£3Ô∏è‚É£ File‚ÄØI/O (`npy`, `npz`, `txt`)

In [ ]:
np.save('array.npy', A)
loaded = np.load('array.npy')
print('loaded equals A?', np.allclose(loaded, A))
np.savez('multi_arrays.npz', A=A, b=b)

In [64]:
# üñäÔ∏è TODO: Use `np.savetxt` to write `data` (from stats section) to CSV then reload with `np.loadtxt`.
a=np.random.default_rng(0).integers(1, 100, size=(5,4))
np.savetxt('array.csv',a)
print(np.loadtxt('array.csv'))

[[85. 64. 51. 27.]
 [31.  5.  8.  2.]
 [18. 81. 65. 91.]
 [50. 61. 97. 73.]
 [63. 54. 56. 93.]]

## <a name='datetime'></a>1Ô∏è‚É£4Ô∏è‚É£ Datetime64 & Timedelta64

In [61]:
dates = np.arange('2023-01', '2023-04', dtype='datetime64[D]')
delta = dates[1:] - dates[:-1]
print(dates[:5], delta[0])

['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'] 1 days

In [67]:
# üñäÔ∏è TODO: find how many Mondays appear in `dates` array.
a=np.arange('2023-01', '2023-04', dtype='datetime64[D]')
print(np.count_nonzero(a.weekday==0))

## <a name='mask'></a>1Ô∏è‚É£5Ô∏è‚É£ Masked Arrays & NaNs

In [59]:
arr = np.array([1, 2, np.nan, 4, np.nan])
masked = np.ma.masked_invalid(arr)
print(masked.mean())

2.3333333333333335

In [58]:
# üñäÔ∏è TODO: replace NaNs with column means in a 2‚ÄëD array containing NaNs.
a=np.array([[1, 2, np.nan, 4, np.nan],[1, 2, 3, 4, 5]])

## <a name='project'></a>1Ô∏è‚É£6Ô∏è‚É£ Mini‚ÄëProject: Fitness Data Analysis

Load `fitness.txt` (tab‚Äëseparated) then follow prompts.

In [53]:

fitness = np.genfromtxt('fitness.txt', delimiter='\t', dtype=None, encoding=None, names=True)
print('columns:', fitness.dtype.names, 'rows:', len(fitness))

columns: ('date', 'step_count', 'mood', 'calories_burned', 'hours_of_sleep', 'bool_of_active', 'weight_kg') rows: 96

In [56]:
# üñäÔ∏è TODO: Monthly step count, sleep vs mood correlation, weekly summary, etc.
a=np.genfromtxt('fitness.txt', delimiter='\t', dtype=None, encoding=None, names=True)
print(a)

[('06-10-2017', 5464, 200, 181, 5,   0, 66)
 ('07-10-2017', 6041, 100, 197, 8,   0, 66)
 ('08-10-2017',   25, 100,   0, 5,   0, 66)
 ('09-10-2017', 5461, 100, 174, 4,   0, 66)
 ('10-10-2017', 6915, 200, 223, 5, 500, 66)
 ('11-10-2017', 4545, 100, 149, 6,   0, 66)
 ('12-10-2017', 4340, 100, 140, 6,   0, 66)
 ('13-10-2017', 1230, 100,  38, 7,   0, 66)
 ('14-10-2017',   61, 100,   1, 5,   0, 66)
 ('15-10-2017', 1258, 100,  40, 6,   0, 65)
 ('16-10-2017', 3148, 100, 101, 8,   0, 65)
 ('17-10-2017', 4687, 100, 152, 5,   0, 65)
 ('18-10-2017', 4732, 300, 150, 6, 500, 65)
 ('19-10-2017', 3519, 100, 113, 7,   0, 65)
 ('20-10-2017', 1580, 100,  49, 5,   0, 65)
 ('21-10-2017', 2822, 100,  86, 6,   0, 65)
 ('22-10-2017',  181, 100,   6, 8,   0, 65)
 ('23-10-2017', 3158, 200,  99, 5,   0, 65)
 ('24-10-2017', 4383, 200, 143, 4,   0, 64)
 ('25-10-2017', 3881, 200, 125, 5,   0, 64)
 ('26-10-2017', 4037, 200, 129, 6,   0, 64)
 ('27-10-2017',  202, 200,   6, 8,   0, 64)
 ('28-10-2017',  292, 200,   9, 5,   0, 64)
 ('29-10-2017',  330, 300,  10, 6,   0, 64)
 ('30-10-2017', 2209, 200,  72, 5,   0, 64)
 ('31-10-2017', 4550, 300, 150, 8, 500, 64)
 ('01-11-2017', 4435, 300, 141, 5,   0, 64)
 ('02-11-2017', 4779, 300, 156, 4,   0, 64)
 ('03-11-2017', 1831, 300,  57, 5,   0, 64)
 ('04-11-2017', 2255, 300,  72, 4,   0, 64)
 ('05-11-2017',  539, 300,  17, 5, 500, 64)
 ('06-11-2017', 5464, 300, 181, 4,   0, 64)
 ('07-11-2017', 6041, 200, 197, 3,   0, 64)
 ('08-11-2017', 4068, 300, 131, 2,   0, 64)
 ('09-11-2017', 4683, 300, 154, 9,   0, 64)
 ('10-11-2017', 4033, 300, 137, 5,   0, 64)
 ('11-11-2017', 6314, 300, 193, 6, 500, 64)
 ('12-11-2017',  614, 300,  19, 4, 500, 64)
 ('13-11-2017', 3149, 300, 101, 5, 500, 64)
 ('14-11-2017', 4005, 300, 139, 8, 500, 64)
 ('15-11-2017', 4880, 300, 164, 4, 500, 64)
 ('16-11-2017', 4136, 300, 137, 5, 500, 64)
 ('17-11-2017',  705, 300,  22, 6, 500, 64)
 ('18-11-2017',  570, 200,  17, 5, 500, 64)
 ('19-11-2017',  269, 300,   9, 6, 500, 64)
 ('20-11-2017', 4275, 300, 145, 5,   0, 64)
 ('21-11-2017', 5999, 300, 192, 6,   0, 64)
 ('22-11-2017', 4421, 300, 146, 5,   0, 64)
 ('23-11-2017', 6930, 300, 234, 6,   0, 64)
 ('24-11-2017', 5195, 300, 167, 5,   0, 64)
 ('25-11-2017',  546, 300,  16, 6,   0, 64)
 ('26-11-2017',  493, 300,  17, 7, 500, 64)
 ('27-11-2017',  995, 300,  32, 6, 500, 64)
 ('28-11-2017', 1163, 200,  35, 7, 500, 64)
 ('29-11-2017', 6676, 100, 220, 6, 500, 64)
 ('30-11-2017', 3608, 300, 116, 5, 500, 64)
 ('01-12-2017',  774, 300,  23, 6, 500, 64)
 ('02-12-2017', 1421, 300,  44, 7, 500, 64)
 ('03-12-2017', 4064, 300, 131, 8, 500, 64)
 ('04-12-2017', 2725, 300,  86, 8, 500, 64)
 ('05-12-2017', 5934, 300, 194, 7, 500, 64)
 ('06-12-2017', 1867, 300,  60, 8, 500, 64)
 ('07-12-2017', 3721, 100, 121, 5, 500, 64)
 ('08-12-2017', 2374, 200,  76, 4,   0, 64)
 ('09-12-2017', 2909, 200,  93, 3, 500, 64)
 ('10-12-2017', 1648, 100,  53, 3, 500, 64)
 ('11-12-2017',  799, 100,  25, 4,   0, 64)
 ('12-12-2017', 7102, 200, 227, 5, 500, 64)
 ('13-12-2017', 3941, 200, 125, 5, 500, 64)
 ('14-12-2017', 7422, 300, 243, 5, 500, 64)
 ('15-12-2017',  437, 200,  14, 3, 500, 64)
 ('16-12-2017', 1231, 200,  39, 4, 500, 64)
 ('17-12-2017', 1696, 100,  55, 4,   0, 64)
 ('18-12-2017', 4921, 200, 158, 5, 500, 64)
 ('19-12-2017',  221, 100,   7, 5, 500, 64)
 ('20-12-2017', 6500, 200, 213, 5, 500, 64)
 ('21-12-2017', 3575, 200, 116, 5, 500, 64)
 ('22-12-2017', 4061, 100, 129, 5,   0, 64)
 ('23-12-2017',  651, 100,  21, 5,   0, 64)
 ('24-12-2017',  753, 100,  28, 4,   0, 64)
 ('25-12-2017',  518, 100,  16, 3,   0, 64)
 ('26-12-2017', 5537, 300, 180, 4, 500, 64)
 ('27-12-2017', 4108, 200, 138, 5, 500, 64)
 ('28-12-2017', 5376, 300, 176, 5, 500, 64)
 ('29-12-2017', 3066, 200,  99, 4, 500, 64)
 ('30-12-2017',  177, 100,   5, 5,   0, 64)
 ('31-12-2017',   36, 100,   1, 3,   0, 64)
 ('01-01-2018',  299, 100,  10, 3,   0, 64)
 ('02-01-2018', 1447, 200,  47, 3,   0, 64)
 ('03-01-2018', 2599, 200,  84, 2,   0, 64)
 ('04-01-2018',  702, 100,  23, 3,   0, 64)
 ('05-01-2018',  133, 100,   4, 2,   0, 64)
 ('06-01-2018',  153, 300,   0, 8,   0, 64)
 ('07-01-2018',  500, 200,   0, 5, 500, 64)
 ('08-01-2018', 2127, 200,   0, 5,   0, 64)
 ('09-01-2018', 2203, 300,   0, 5, 500, 64)]

## <a name='conclusion'></a>1Ô∏è‚É£7Ô∏è‚É£ Conclusion & Further Practice
Congrats on covering **all core NumPy topics** from your five lecture notebooks!

*Keep experimenting, read the official docs, and try converting your NumPy pipelines into Pandas or JAX for more fun.*